<div class="body">
    <h1> <img class="channel-img" src={{avatar}}> {{username}} </h1>
    <h1> Email-Id : {{userEmail}} </h1>
    
    <br>
    <button routerLink="/upload" class="upload" type="button"><img width="30px" src="http://www.clker.com/cliparts/s/7/R/k/j/Z/icon-add.svg">&nbsp;&nbsp;<b>Upload Video</b></button>
    
    <h3> Total Views : {{views}} </h3>

    <br>
    <br>
    
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-2" *ngFor='let video of videos'>
            <div class="card">
                <img [src]="'https://img.youtube.com/vi/' + video.id +'/hqdefault.jpg'" (click)="getVideo(video)">
                <div (click)="getVideo(video)" class="name">{{video.name.substring(0, 70)}}...</div>

                <button (click)="editVideo(video)" class="button"  type="button" class="btn btn-primary">Edit</button>
                <button (click)="setcurrentVideoDelete(video)" class="button" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">Delete</button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Delete Video</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete "{{currentVideoDelete.name.substr(0, 20)}}..."?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Don't Delete</button>
                                <button type="button" class="btn btn-danger" (click)="deleteVideo(currentVideoDelete)" data-dismiss="modal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>