<div class="body">
    <h1> Name : {{username}} </h1>
    <h1> Email-Id : {{userEmail}} </h1>
    
    <br>
    <button routerLink="/upload" class="upload" type="button"><img width="30px" src="http://www.clker.com/cliparts/s/7/R/k/j/Z/icon-add.svg">&nbsp;&nbsp;<b>Upload Video</b></button>
    
    <h3> Total Views : {{views}} </h3>

    <br>
    <br>
    
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-2" *ngFor='let video of videos'>
            <div class="card">
                <img [src]="'https://img.youtube.com/vi/' + video.id +'/hqdefault.jpg'" (click)="getVideo(video)">
                <div (click)="getVideo(video)" class="name">{{video.name.substring(0, 70)}}...</div>

                <button (click)="editVideo(video)" class="button"  type="button" class="btn btn-primary">Edit</button>
                <button (click)="deleteVideo(video)" class="button" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>