.body {
    padding-top: 20vh;
}

.error-msg {
    color: red;
    text-align: center;
}

.user_card {
    width: 550px;
    margin-top: auto;
    margin-bottom: auto;
    background: #5f5f5f;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

b {
    font-size: 30px;
    color: rgba(56, 197, 0, 0.918)
}

.form_container {
    margin-top: 30px;
    padding-bottom: 20px;
}

.login_btn {
    width: 30%;
    background: black !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 7rem;
}

.input-group-text {
    background: black !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

input[type="text"] {
  width: 400px;
}

.input_user {
    box-shadow: none !important;
    outline: 0px !important;
    color:black;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}
