.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgba(228, 0, 0, 0.781);
    border-radius: 50%;
    margin: auto;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  .alignment {
    margin-top: 300px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  