.margin {
    padding-top: 5.5%;
    padding-left: 4%;
    padding-right: 3%;
}

img {
    max-width: 400;
    height : 240px;
}

.name {
    max-height: 65px;
    height: auto;
    color: rgb(255, 255, 255);
    margin-bottom: 2%;
}

.views {
    float: right;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.card {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 12%;
}

.thumbnail {
    height: fit-content;
}

.channel {
    color: rgb(129, 129, 129);
}

.channel-img {
    border-radius: 100%;
    width: 35px;
    height: 35px;
}